.slon--img {
  width: 200px;
}
.fruits-list {
	display:flex;
	justify-content: center;
    align-items: center;
}
.fruits-wrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	min-height: 90px;
	background-color: white;
    border-radius: 10px;
}
.fruit {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.fruit-banana {
	background-image: url('img/banan.png');
}
.fruit-cherry {
	background-image: url('img/tresen.png');
}
.fruit-pear {
	background-image: url('img/hruska.png');
}

.ukazatel-uspechu {
	max-width: 200px;
}

.ukazatel-uspechu__ramecek {
	
	border: 1px solid gray;
	margin: 15px 0 5px;
}

.ukazatel-uspechu__postup {
	position: relative;
	height: 15px;
	transition: width 0.2s ease-out;
}

