.slon--img {
  width: 200px;
	margin: 10px;
}
.fruits-list {
	display:flex;
	justify-content: center;
  align-items: center;
}
.fruits-wrapper {
	display: block;
	margin: auto;
	width: 50%;
	min-height: 130px;
	background-color: #f4b7b7;
  border-radius: 10px;
	border: solid 3px black;
}
.fruit {
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 3px;
}
.fruit-banana {
	background-image: url('img/banan.png');
}
.fruit-cherry {
	background-image: url('img/tresen.png');
}
.fruit-pear {
	background-image: url('img/hruska.png');
}

.ukazatel-uspechu {
	max-width: 200px;
  
}

.ukazatel-uspechu__ramecek {
	border: 1px solid gray;
	margin: 15px 0 5px;
	border-radius: 5px;

}

.ukazatel-uspechu__postup {
	height: 15px;
	transition: width 0.2s ease-out;
}
.score {
	text-align: center;
}